
.price-btn{
  display: flex;
  width: 100%;
  padding: 3px;
  justify-content: space-between;
  align-items: center;
}
.price-btn p{
  font-size: 15px;
  color: red;
  font-weight: 600;
}

.wepper{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  width: 100%;
  padding: 15px;
}

.wepper .card{
  margin: 10px;
}
